logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
/nbproject/private/
*~
*.swp
dist
/build
dist/
release/
web/
themes/
/web/styles/**/*.css
/web/js/main.min.js
*.map
/.tmp
/.sass-cache
